# Print Fuction

- using end, sep parameters.

In [23]:
# end joins multiple line.
print("I am Ahmed Usman", end=". ")
print("I am 21", end=", ")
print("and I am learning python", end=".")

I am Ahmed Usman. I am 21, and I am learning python.

In [22]:
# sep separate single line.
print("I am Ahmed Usman","I am 21", "and I am learning python.", sep="\n")

I am Ahmed Usman
I am 21
and I am learning python.

# Data Types.
### 1,Basic.
- str, int, float, complex, boolean.
### 2,container.
- list, tuple, set, dict. 
### 3,User Define.
- class.

In [28]:
print("hello",1,2.2,4+1j,True)

hello 1 2.2 (4+1j) True

In [41]:
print([1,2,3,4]) # list.
print((1,2,3,4)) # tuple.
print({1,3,4,5}) # set.
print({"name":"ahmed", "age":21, "gender":"male"}) # dict

[1, 2, 3, 4]
(1, 2, 3, 4)
{1, 3, 4, 5}
{'name': 'ahmed', 'age': 21, 'gender': 'male'}

# Variables
- dynamic typing (No need to initlize datatype of variable)
- dynamic binding (We can change datatype of variable)

In [45]:
# No need to initlize datatype of variable.
a,b,c = 1,2.2,4+3j
print(a+b+c)
print(a,b,c, sep="\n")

(7.2+3j)
1
2.2
(4+3j)

In [53]:
# We can change datatype of variable.
a=2;b="hello";c=4.2
print(a,b,c,sep="\n")

print(float(a))
print(list(b))

2
hello
4.2
2.0
['h', 'e', 'l', 'l', 'o']

In [56]:
# identifier (use to initialize variables)
# we can initialize variable by "_" or "alphabet".

_ = 19
print(_)
z = 21
print(z)

19
21

# Talking Input

In [57]:
num_1 = int(input("enter first number: "))
num_2 = int(input("enter second number: "))
print(num_1+num_2)
print(num_1-num_2)
print(num_1*num_2)
print(num_1/num_2)

enter first number: 10
enter second number: 5
15
5
50
2.0

# Type Conversion
- implicit (conversion of data_type, python do its-self)
- explicit (conversion of data_type, that we preform)

In [59]:
# implicit
print(5+5+5j)
type(5), type(5+5j)

(10+5j)

(int, complex)

In [65]:
# explicit
print(complex(10))  
print(list("hello world"))

(10+0j)
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

# Literals
### Values that are already given in program.
- 1 Numerical (int, float, complex, (bin, oct, dec, hex))
- 2 string (str, emojies)
- 3 Boolean
- 4 Special (None)

In [78]:
# 1 numerical literals
print(0b010) # binary
print(0o10)  # octal
print(10)    # decimal
print(0x10)  # hexa-decimal

print(3,3.3,3+3j,6.023e-23 ) # int, float, complex

2
8
10
16
3 3.3 (3+3j) 6.023e-23

In [93]:
# 2 string
print('iam Ahmed and iam learning python')
print("iam Ahmed and iam learning python")
print("""iam Ahmed and,
iam learning python""")   # use for multi-line text.

print(u"\U0001f600")   # Unicode emoji.

iam Ahmed and iam learning python
iam Ahmed and iam learning python
iam Ahmed and,
iam learning python
ðŸ˜€

In [94]:
# 3 Boolean.
print(True - 1)
print(False + 1)

0
1

In [96]:
# 4 Special character
a = None   # for variable initializing
print(a)
type(a)

None

NoneType

# Operators
- 1 Arthematic   (+, -, *, /, %, **, //)
- 2 Logical     (and, or, not)
- 3 Comparison  (>, <, >=, <=, !=, ==)
- 4 bitwise     (&, |, >>(Right shift), <<(left shift), ~ (complement))
- 5 identy      (is, is not)
- 6 membership  (in, not in)

In [100]:
# 1 Arthematic 

num_1 = 4
num_2 = 2
print(num_1+num_2)
print(num_1-num_2)
print(num_1*num_2)
print(num_1/num_2)
print(num_1%num_2)   # it returns reminder.
print(num_1**num_2)  # 4 to the power 2.
print(num_1//num_2)  # it removes decimal numbers, only returns integer.

6
2
8
2.0
0
16
2

In [101]:
# 2 Logical
a = True ; b = False
print(a and b)
print(a or b)
print(not b)

False
True
True

In [102]:
# 3 Comparison 
a = 4 ; b = 2
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

True
False
True
False
True
False

In [134]:
# 4 Bitwise (binary game)
a = 4 ; b = 4

print(bin(a))
print(bin(b))

print(a & b)
print(a | b)
print(a>>2)    # right shift
print(a<<1)  # left shift
print(~a)  # 1's compliment

0b100
0b100
4
4
1
8
-5

In [143]:
# 5 identy (if True then item stores in same memory location)
a = [1,2,3] 
b = [1,2,3]
print(a is b)    # false: due to list are mutable (we can do changes in it).
print(a is not b)

c = "hello"
d = "hello"
print(c is d)

False
True
True

a in b, Python checks if the list a = [1, 2, 3] exists as a single element inside the list b. 
Since b contains integers (1, 2, and 3),
and not the list [1, 2, 3] as a whole, the expression a in b evaluates to False.

In [145]:
# 9 membership

a = [1,2,3] 
b = [1,2,3]
print(a in b)     # false: due to lists are mutable.
print(a not in b)

c = "hello"
d = "hello"
print(c in d)

False
True
True

# if else statment

In [8]:
# gmail = pak1@gmail.com
# pass = 123.
mail = None
password = None

while mail != "pak1@gmail.com" :
    mail = input("enter your mail: ")
    if mail == "pak1@gmail.com":
        while password != "123":
            password = input("enter password: ")
            if password == "123":
                print("welcome!")
            else:
                print("incorrect password!")
    else:
        print("incorrect mail!")

enter your mail: pakistan1@gmail.com
incorrect mail!
enter your mail: pak1@gmail.com
enter password: 123
welcome!

# Loops

### While Loop

In [3]:
# printsng the tabel.
num = int(input("enter the number, for table: "))
i = 1
while i < 11:
    print(num ,"*", i ,"=",num * i)
    i+=1

enter the number, for table: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [4]:
# Guess Game. 
import random
random = random.randint(0,100)
guess = int(input("guess the number: "))
count = 1

while guess != random:
    if guess > random:
        print("smaller!")
    else:
        print("greater!")
    guess = int(input("guess the number: "))
    count+=1
print("Right guess!", guess)
print("Your attempts: ", count)

guess the number: 50
greater!
guess the number: 75
greater!
guess the number: 85
smaller!
guess the number: 70
greater!
guess the number: 73
greater!
guess the number: 74
greater!
guess the number: 80
smaller!
guess the number: 78
greater!
guess the number: 79
Right guess! 79
Your attempts:  9

### For Loop

In [9]:
num = int(input("number of rows: "))
for i in range(0,num+1):
    for j in range(0,i):
        print("*",end="")
    print(" ")

number of rows: 5

*
**
***
****
*****

In [17]:
a = 1
for i in range(0,5):
    for j in range(0,i):
        print(a, end=" ")
        a+=1
    print(" ")

1
2 3
4 5 6
7 8 9 10

In [43]:
for i in range(0,3):
    for j in range(i):
        print("*",end=" ")    
    print(" ")
    
for i in range(3,0,-1):
    for j in range(i):
        print("*",end=" ")
    print(" ")

*
* *
* * *
* *
*

# break, continue and pass statments

In [9]:
# break.
for i in range(0,8):
    if i == 5:
        break  # it breaks the loop on 5.
    print(i)

0
1
2
3
4

In [8]:
# continue.
for i in range(0,8):
    if i == 5:
        continue   # it skips on 5 itration.
    print(i)

0
1
2
3
4
6
7

In [16]:
# pass
for i in range(0,8):
    pass    # use as placeholder for future code.

# Built-in Functions
### some important functions.

- round()  round-off number.
- abs() absolute function. 
- divmod()  Division-mod "//", "%".
- id()  identy in memory location.
- ord()  ASKII value.
- help()  show discription about function.

In [20]:
# round()
a,b = 3,7
print(b/a)
print(round(b/a))   # it round-off decimal number.

2.3333333333333335
2

In [19]:
# absolute()
a = -19   
print(abs(a))  # it gives absolute "+ve" number.

19

In [23]:
#divmod()
a,b = 40,4
print(divmod(a,b))  # 1st number is "//", and 2nd is "%"

(10, 0)

In [27]:
#id()
print(a)
print(id(a))  # a location in memory.

40
140735138302112

In [31]:
# ord()
print(ord("A"))

65

In [37]:
# help()
help(ord) # discription of given function.

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

# Modules
- Math
- Time
- os
- random

In [50]:
# Math
import math
print(math.pi)
print(math.factorial(3))
print(math.sqrt(25))

3.141592653589793
6
5.0

In [71]:
# Time
import time
print(time.ctime())  # current time.
print(time.time())   # time in sec from jan 1,1970 till now
print("hello")
time.sleep(1)   # delay of 1 sec.
print("world" )

Thu Feb 15 00:53:59 2024
1707940439.1820605
hello
world

In [60]:
# os
import os
print(os.getcwd())  # file location
print(os.listdir())  # files in that location

C:\Users\hp\Documents\Python
['.ipynb_checkpoints', 'python basics revision.ipynb', 'python basics.ipynb', 'Python Problems..ipynb']

In [77]:
# random
import random
print(random.randint(0,100))
a= [1,2,3,4,5]
random.shuffle(a)
print(a)

52
[1, 5, 3, 2, 4]

# Accessing String
- indexing
- slicing

In [84]:
# Indexing.
a = "Hello World"
print(a[0],a[1],a[-1],a[-2])

H e d l

In [90]:
# Slicing.
a = "Hello World"
print(a[:], a[1:5], a[0::2], a[::-1])

Hello World ello HloWrd dlroW olleH

# Operations on String

- Arithmetic Operations
- Logical
- Comparison
- Loops
- Membership

In [95]:
# Arithmetic
a,b = 'hello','world'
print(a,b)
print(a+b)

print("*"*12)

hello world
helloworld
************

In [101]:
# Logical
a,b,c = "hello","world",""
print(a and b)
print(a and c)  # it gives "0" when anyone is 0.
print(a or b)
print(c or b)  # it gives "1" when anyone is 1.
print(not c)   # it inverse.

world

hello
world
True

In [107]:
# Comparison
a,b = "hello","world"
print(a>b)  # 'h' comes first, so it is less then 'w'.
print(a<b)
print(a!=b)
print(a==b)
print("A">"a")  # 'A' comes first, so it is less then 'a' .

False
True
True
False
False

In [112]:
# Loops
a = "hello"
for i in a :
    print(i)
    
for i in a[::-1]:
    print(i)

h
e
l
l
o
o
l
l
e
h

In [116]:
# Membership
print(a)
print("hello" in a)

hello
True

# String Functions
- len, min, max, sorted
- capitalize,  title, lower, upper, swapcase
- count, find, index
- startswith, endswith, format
- isalnum, isalpha, isdecimal, isdigit, isidentifier
- split, join, replace, strip

In [5]:
# len, max, min, sorted.

a = "kohat, pakistan"
print(len(a))
print(max(a))
print(min(a))
print(sorted(a))   # it sortes all items from smaller to greater.

15
t

[' ', ',', 'a', 'a', 'a', 'h', 'i', 'k', 'k', 'n', 'o', 'p', 's', 't', 't']

In [12]:
# capitalize, title, upper, lower, swapcase.

print(a.capitalize())   # capitalize first word of sentence.
print(a.title())        # capitalize every first char of word.
print(a.upper())
print(a.lower())
print(a.swapcase())   # it swaps upper to lower & lower to upper.

Kohat, pakistan
Kohat, Pakistan
KOHAT, PAKISTAN
kohat, pakistan
KOHAT, PAKISTAN

In [34]:
# count, find, index.

b = "Iam Ahmed, and Iam learning Python!"
print(b.count(""))
print(b.count("a"))
print(b.find("Ahmed"))   # it throws "-1", if iteam isn't present.
print(b.index("and"))    # it throws "error", if iteam isn't present.

36
4
4
11

In [45]:
# startswith, endswith, format.

print(b)
print(b.startswith("Iam"))
print(b.endswith("python"))   # as "P" is capital.

c = "Iam {}, and Iam learning {}!"
print(c.format("Ahmed","Python"))
print(c.format("Usman","C++"))

print("Iam {0}, and Iam learning {1}!". format("Ali","Oop"))

Iam Ahmed, and Iam learning Python!
True
False
Iam Ahmed, and Iam learning Python!
Iam Usman, and Iam learning C++!
Iam Ali, and Iam learning Oop!

In [87]:
# isalnum, isalpha, isdicimal, isdigit, isidentifier
d = "Flat50"
d1 = "Flat"
d2 = "1123"
d3 = "10"
d4 = "pak_01"
print(d.isalnum())
print(d1.isalpha())
print(d2.isdigit())
print(d3.isdecimal())
print(d4.isidentifier())

True
True
True
True
True

In [131]:
# split, join, replace, strip

b1 = "Iam', 'Ahmed,', 'and', 'Iam', 'learning', 'Python!"

print(b)
print(b.split())
print("".join(b1))
print(b.replace("Ahmed","Usman"))

b2 ="      Ahmed       "
print(b2.strip())     # remove unnecessary space.

Iam Ahmed, and Iam learning Python!
['Iam', 'Ahmed,', 'and', 'Iam', 'learning', 'Python!']
Iam', 'Ahmed,', 'and', 'Iam', 'learning', 'Python!
Iam Usman, and Iam learning Python!
Ahmed

# List
- array vs list, create, access, edit, add, delete
- operations, functions.

### array vs list.
#### list:
- list is mutable datatype. 
- it can store iteams of different data-type.
#### array:
- is is im-mutable.
- it can store iteams of same data-type.

In [53]:
# Create
a1 = [1,2,3,4,5]  # iteams with same data-type homogenious list.
a2 = [1,2.5,True,4+3j]  # hetrogenious list.

a3 = [1,3,4,[5,6]]  # 2D List.
a4 = [[1,2],[3,4]],[[7,8],[5,6]]  # 3D List
a5 = list("pakistan")
print(a5)

['p', 'a', 'k', 'i', 's', 't', 'a', 'n']

In [12]:
# access.
print(a3)
print(a3[-1][0])  # accessing 5 in 2D list.

print(a4)
print(a4[-1][-1][0])

print(a5)
print(a5[0:3])

[1, 3, 4, [5, 6]]
5
([[1, 2], [3, 4]], [[7, 8], [5, 6]])
5
['p', 'a', 'k', 'i', 's', 't', 'a', 'n']
['p', 'a', 'k']

In [17]:
# edit.
print(a1)
a1[0]= 100
print(a1)

a1[-1] = 500
print(a1)

a1[1:4]= 200,300,400
print(a1)

[100, 2, 3, 4, 500]
[100, 2, 3, 4, 500]
[100, 2, 3, 4, 500]
[100, 200, 300, 400, 500]

In [28]:
# add.  (insert , append , extend)
print(a1)

a1.insert(0,10)  # insert 
print(a1)

[1, 2, 3, 4, 5]
[10, 1, 2, 3, 4, 5]

In [29]:
a1.append(50) # append
print(a1)

[10, 1, 2, 3, 4, 5, 50]

In [30]:
a1.extend([60,70,80])  # extend
print(a1)

[10, 1, 2, 3, 4, 5, 50, 60, 70, 80]

In [32]:
# Delete. (del , remove , pop , clear.)
print(a1)
del(a1[0])  # del
print(a1)

[10, 1, 2, 3, 4, 5, 50, 60, 70, 80]
[1, 2, 3, 4, 5, 50, 60, 70, 80]

In [54]:
a1.remove(5) # remove
print(a1)

[1, 2, 3, 4]

In [55]:
a1.pop()   # pop 
print(a1)

[1, 2, 3]

In [56]:
a1.clear()  # clear
print(a1)

[]

In [71]:
# Operations.
b1, b2 = [1,2,3,4],[5,6,7]
print(b1+b2)   # addition
print(b2*3)   # multiply

for i in b2:  # loop
    print(i)
    
print(a3)
for i in a3:
    print(i)

[5,6] in a3   # membership

[1, 2, 3, 4, 5, 6, 7]
[5, 6, 7, 5, 6, 7, 5, 6, 7]
5
6
7
[1, 3, 4, [5, 6]]
1
3
4
[5, 6]

True

In [97]:
# functions.
c1 = [3,2,4,1]
print(min(c1))
print(max(c1))
print(len(c1))

print(sorted(c1))   # its not a permenant operation.
print(sorted(c1, reverse = True))

c1.sort()   # sort is premanent operation.
print(c1)

c1.index(3)

1
4
4
[1, 2, 3, 4]
[4, 3, 2, 1]
[1, 2, 3, 4]

2

# tuple

- create, acess, edit, add, remove, operation, funcrion.

In [37]:
# create
t = (5,)  # use coma at end in single tuple. without coma its int.
t1 = (1,2,3,4)    # homogenious tuple.
print(t1)
t_2 = (1, 3.4, True, 5.5j, "okay")   # hetrogenious tuple.
print(t_2)   

t2 = (1,2,3,(5,3))   # 2d tuple.
print(t2)

t3 = (((1,2),(3,4)),((5,6),(7,8)))   # 3d tuple.
print(t3)

(1, 2, 3, 4)
(1, 3.4, True, 5.5j, 'okay')
(1, 2, 3, (5, 3))
(((1, 2), (3, 4)), ((5, 6), (7, 8)))

In [30]:
# Access.
print(t2)
print(t2[-1][0])

print(t3)
print(t3[-1][0][0])

print(t1[0:4])
print(t1[::-1])

(1, 2, 3, (5, 3))
5
(((1, 2), (3, 4)), ((5, 6), (7, 8)))
5
(1, 2, 3, 4)
(4, 3, 2, 1)

In [31]:
# Edit , Add
# Tuple is im-mutable, we can't edit or add it.

In [39]:
# Delete 
# we can't delete single iteam in tuple, as it's im-mutable.
# however, we can delete complete tuple.
print(t_2)
del(t_2)
print(t_2)  # as t_2 is completely deleted, that's why it throws an error.

(1, 3.4, True, 5.5j, 'okay')

NameError: name 't_2' is not defined

In [48]:
# Operation
print(t1)
print(t2)
print(t1+t2)    # add. 

print(t1*3)   # multiply.

for i in t1:   # loop.
    print(i)
    
4 in t1    # membership

(1, 2, 3, 4)
(1, 2, 3, (5, 3))
(1, 2, 3, 4, 1, 2, 3, (5, 3))
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

True

In [51]:
# Function.
t5 = "hello world"
print(len(t5))
print(min(t5))
print(max(t5))

print(sorted(t5))
print(sorted(t5, reverse = True))

11

w
[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']
['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

# sets

#### set is mutable data-type , we can't acess it by indexing and slicing , it doesn't allow mutable data types in it.
- create, acess, edit, add, delete, operation, function.

In [34]:
# create:
s1 = {1,2,3,4,5}   # homogenious set
s2 = {"hello world", 2+3j, 3, True, 3.5}    # hetrogenious set.

# we can't built 2d, 3d sets
# s3 = {1,3,4,{5,6}}  # we can't use mutable data-type in sets.

s4 = {2,3,4,(5,6)}  # tuple is im-mutable. so it works.

print(s1)
print(s2)
print(s4)    # it print "(5,6)" due to hashing. sets don't 've indexing.

{1, 2, 3, 4, 5}
{True, 3, 3.5, (2+3j), 'hello world'}
{(5, 6), 2, 3, 4}

In [10]:
# access.
print(s1)
print(s1[0])  # we can't use indexing.
print(s1[0:4])  # we also can't use slicing.

{1, 2, 3, 4, 5}

TypeError: 'set' object does not support indexing

In [12]:
# edit.
print(s1)
s1[0] = 100   # we can't edit coz it doesn't 've indexing.
print(s1)

{1, 2, 3, 4, 5}

TypeError: 'set' object does not support item assignment

In [35]:
# add.

s1.add("100")
print(s1)

{1, 2, 3, 4, 5, '100'}

In [36]:
# delete.
print(s1)

# remove.
s1.remove("100")  
print(s1)

{1, 2, 3, 4, 5, '100'}
{1, 2, 3, 4, 5}

In [37]:
# pop.
print(s1)
s1.pop()  
print(s1)  # due to hashing.

{1, 2, 3, 4, 5}
{2, 3, 4, 5}

In [38]:
# del.
del(s1)   # it deletes set completely.
print(s1)

NameError: name 's1' is not defined

In [52]:
# Operation

s3 = {1,2,3,5,6}
s4 = {2,3,4}

# print(s3+s4)  we can't concatinate sets.
# print(s3*2)  we can't multiply sets.

# loop
for i in s4:
    print(i)

# membership.
print (4 in s4)
print (4 in s3)

2
3
4
True
False

In [55]:
# functions.
print(s3)
print(len(s3))
print(max(s3))
print(min(s3))
print(sorted(s3))
print(sorted(s3, reverse = True))

{1, 2, 3, 5, 6}
5
6
1
[1, 2, 3, 5, 6]
[6, 5, 3, 2, 1]

#### some other imp functions, that are present in sets
- union, intersection, difference, symetric_difference, isdisjoint, issubset, issuperset

# Dictonary
#### it's mutable, it has keys : values, key are im-mutable and values are mutable. it doesn't 've indexing.
- create, access, edit, add, delete, operations, functions.

In [38]:
# create
d1 = {"name":"ahmed", "gender":"male", "age":21}
print(d1)

d2 = {(1,2,3):"paksitan"}  # key is tuple, nd it's im-mutable.
print(d2)

d3 = {"name":"ahmed", "profession":"student","marks":{"math":21,"eng":12,"urd":21}}   # 2D dictonary.
print(d3)

{'name': 'ahmed', 'gender': 'male', 'age': 21}
{(1, 2, 3): 'paksitan'}
{'name': 'ahmed', 'profession': 'student', 'marks': {'math': 21, 'eng': 12, 'urd': 21}}

In [18]:
# access.
print(d3)
print(d3['name'])
print(d3["marks"]["urd"])

{'name': 'ahmed', 'profession': 'student', 'marks': {'math': 21, 'eng': 12, 'urd': 21}}
ahmed
21

In [6]:
# edit.

d3["name"] = "usman"

d3["marks"]["eng"] = 25

print(d3)

{'name': 'usman', 'profession': 'student', 'marks': {'math': 21, 'eng': 25, 'urd': 21}}

In [39]:
# add.
print(d3)
d3["age"]= 21
d3["marks"]["isl"]=25
print(d3)

{'name': 'ahmed', 'profession': 'student', 'marks': {'math': 21, 'eng': 12, 'urd': 21}}
{'name': 'ahmed', 'profession': 'student', 'marks': {'math': 21, 'eng': 12, 'urd': 21, 'isl': 25}, 'age': 21}

In [41]:
# Delete.  (del, clear)

print(d3)
del d3["age"]
del d3["marks"]["isl"]   # del specific key and value.
print(d3)

{'name': 'ahmed', 'profession': 'student', 'marks': {'math': 21, 'eng': 12, 'urd': 21, 'isl': 25}, 'age': 21}
{'name': 'ahmed', 'profession': 'student', 'marks': {'math': 21, 'eng': 12, 'urd': 21}}

In [43]:
# clear.
print(d3)
d3.clear()  # clear all.
print(d3)

{'name': 'ahmed', 'profession': 'student', 'marks': {'math': 21, 'eng': 12, 'urd': 21}}
{}

In [65]:
# Operations.
print(d1)
print(d2)

# print(d1+d2)  # won't concatinate.
# print(d1*2)   # won't multiply.

for i in d1:   # loop.
    print(i)   # this returns key only.

print(" ")

for i in d1:
    print(i,d1[i])   # this returns key and values both. 
    
# membership.
print("age" in d1)  # this checks keys only, not values.
print(21 in d1)

{'name': 'ahmed', 'gender': 'male', 'age': 21}
{(1, 2, 3): 'paksitan'}
name
gender
age

name ahmed
gender male
age 21
True
False

In [72]:
# functions.
print(d1)
print(len(d1))
print(max(d1))    # gives max as per ascii.
print(min(d1))    # gives min as per ascii.
print(sorted(d1))
print(sorted(d1, reverse = True))

# functions specific to dictonary.
print(d1.keys())
print(d1.values())

{'name': 'ahmed', 'gender': 'male', 'age': 21}
3
name
age
['age', 'gender', 'name']
['name', 'gender', 'age']
dict_keys(['name', 'gender', 'age'])
dict_values(['ahmed', 'male', 21])

# Functions

- if local variable is present, action will be preforme on it.
- we can only change global varialbe using "global" keyword
- global variable can be use by any function.

In [35]:
def is_even(num):
    
# function documentation. func is written in this format.
    """
Input : integer             
Output : even or odd
check number is even or odd
last change : 18,Apr,24
"""
    
    if num % 2 == 0:
        return "even"
    else:
        return "odd"

# loop
for i in range(1,11):
    print(is_even(i))

print(is_even.__doc__)   # prints function documentation.

odd
even
odd
even
odd
even
odd
even
odd
even

Input : integer
Output : even or odd
check number is even or odd
last change : 18,Apr,24

In [129]:
def power(a=0,b=0):
    print(a**b)

# positional argument.
power(5,2)

# keyword argument.
power(b=2,a=5)

25
25

In [42]:
# arbitrary argument.

# input: 1*2*3 = 6 : output.

def func(*number):    # * used to convert number into tuple.
    product = 1
    for i in number:
        product = product * i
    print(product)
    
func(1,2,3,4,5)

120

### Function Problems:

In [52]:
def func(x):
    z = 5    # local variable.
    z+=2
    print("local z : ",z)   # func can't change global variable.
    
z = 5     # global variable.
func(z)
print("global z : ",z)

local z :  7
global z :  5

In [54]:
def func(z):
    global a   # we can do changes in global variable, using this.
    a = 5
    a+=2
    print("local a : ",a)  # after global operation.

a = 5
print("inital a : ",a)   # before global operation, a is 5
func(a)
print("global a : ",a)   # a change permenantly.

inital a :  5
local a :  7
global a :  7

In [81]:
# nested function.
def func_1(a):
    
    def func_2(a):       
        a = a + 3
        print("inside func 2: ",a)
        return a
    
    a = a + 5
    print("inside func 1: ",a)
    a = func_2(a)               # return value stores in a.
    return a

a = 7
b = func_1   # alliasing.
c = b(a)
print("return value : ",c)

inside func 1:  12
inside func 2:  15
return value :  15

In [87]:

# del(func_1)     # deleting func_1
# func_1(5)     # error coz func is deleted

d = b(5)   # it works due to alliasing.
print("return value : ",d)

inside func 1:  10
inside func 2:  13
return value :  13

In [98]:
# we can store function in list.

L = [1,2,3,4,d]   # d = 13 above.
print(L)

[1, 2, 3, 4, 13]

In [123]:
# we can give function as input to another function.

def func_1():
    print("function 1")
    
def func_2(z):
    print("function 2")
    return func_1()

func_2(func_1)

function 2
function 1

In [128]:
# we can return funcion
def fun_1():
    def func_2(x,y):
        z = x * y
        return z
    return func_2

fun_1()(2,3)

6

# Lambda function

- No return value
- Not for code reuseabality
- One line, No name
- Use with higer order functions.

### Types
- map
- filter
- reduce

In [5]:
x = lambda a,b: a*b
print(x(2,4))

8

In [8]:
x = lambda a: True if a%2 == 0 else False
print(x(12))

True

In [10]:
x = lambda a: a[0] == "b"
print(x("apple"))
print(x("banana"))

False
True

In [17]:
def func(func_1, L):
    result = 0
    for i in L:
        if func_1(i):
            result = result + i
    return result
L = [11,33,22,44,55]

x = lambda x: x%2 == 0
y = lambda y: y%2 != 0
z = lambda z: z%3 == 0

print("number divisable by 2 :", func(x,L))
print("number not divisable by 2 : ",func(y,L))
print("number divisable by 3 : ",func(z,L))

number divisable by 2 : 66
number not divisable by 2 :  99
number divisable by 3 :  33

In [24]:
# map
L = [1,2,3,4,5]
list(map(lambda x: x%2 ==0, L))   # first convert into map than into list .

[False, True, False, True, False]

In [37]:
# data in dictonary form.
students = [
{
"name": "Jacob Martin",
"father name" : "Ros Martin",
"Address": "123 Hill Street",
}, {
"name": "Angela Stevens",
"father name" : "Robert Stevens",
"Address": "3 Upper Street London",
}, {
"name": "Ricky Smart",
"father name" : "William Smart",
"Address": "Unknown",
}
]

list(map(lambda a: a["name"], students))

['Jacob Martin', 'Angela Stevens', 'Ricky Smart']

In [38]:
# filter
L = [1,2,3,4,5]
list(filter(lambda x: x >3, L))    # first convert it into filter then list.

[4, 5]

In [48]:
F = ['apple','banana','orange','mango']
list(filter(lambda z: "g"  in z, F))

['orange', 'mango']

In [50]:
# reduce
import functools
L = [1,2,3,4,5]
functools.reduce(lambda x,y : x+y, L)

15

In [54]:
L = [11,22,55,33,6,44]
functools.reduce(lambda x,y: x if x>y else y, L)

55

# List comprehension

In [63]:
L = [1,2,3,4,5]
print([i * 2 for i in L])
print([i**2 for i in L if i%2 == 0])
print([i ** 2 for i in L if i>3])

[2, 4, 6, 8, 10]
[4, 16]
[16, 25]

# Dictonary comprehension

In [81]:
D = {'name': 'ahmed','age':21,'gender':'male'}
D.items()

dict_items([('name', 'ahmed'), ('age', 21), ('gender', 'male')])

In [86]:
{key:value for key,value in D.items() if len(key)> 3}

{'name': 'ahmed', 'gender': 'male'}

In [87]:
L = [11,22,33,44]
{item: item**2 for item in L}

{11: 121, 22: 484, 33: 1089, 44: 1936}

In [88]:
{item: item **2 for item in L if item %2 ==0}

{22: 484, 44: 1936}

# OOP

In [60]:
# ATM Code.
class Atm:
    def __init__(self):
        self.pin = ""
        self.balance = 0
        return self.create_pin()
    
    def manu(self):
        user_input = int(input("""
         
        1. press 1 to Deposit Balance: 
        2. press 2 to Withdraw Balance: 
        3. press 3 to Check Balance: 
        4. press 4 to Exit: 
        """))
        
        if user_input == 1:
            self.deposit_balance()
        elif user_input == 2:
            self.with_draw()
        elif user_input == 3:
            self.check_balance()
        else:
            print("Thank You For Visiting Us")
            
    def create_pin(self):
        self.pin = input("Enter the PIN: ")
        print("PIN Set Sucessful.")
        return self.check_pin()
    
    def check_pin(self):
        check_pin = input("Enter the PIN: ")
        if check_pin == self.pin:
            return self.manu()
        else:
            print("Incorrect PIN.")
            return self.check_pin()
    
    def deposit_balance(self):
        deposit = int(input("Enter the Deposit Amount: "))
        self.balance = deposit + self.balance
        print("Amount Deposit Successful.")
        return self.manu()
        
    def with_draw(self):
        with_draw = int(input("Enter the WithDrawl Amount: "))
        if self.balance >= with_draw:
            self.balance = self.balance - with_draw
            print("Amount Withdraw Successful.")
        else:
            print("Insufficient Balance.")
        return self.manu()
        
    
    def check_balance(self):
        print("Total Balance: ", self.balance)
        return self.manu()
        
            
customer_1 = Atm()

Enter the PIN: 123
PIN Set Sucessful.
Enter the PIN: 321
Incorrect PIN.
Enter the PIN: 123


        1. press 1 to Deposit Balance:
        2. press 2 to Withdraw Balance:
        3. press 3 to Check Balance:
        4. press 4 to Exit:
        1
Enter the Deposit Amount: 111
Amount Deposit Successful.


        1. press 1 to Deposit Balance:
        2. press 2 to Withdraw Balance:
        3. press 3 to Check Balance:
        4. press 4 to Exit:
        2
Enter the WithDrawl Amount: 111
Amount Withdraw Successful.


        1. press 1 to Deposit Balance:
        2. press 2 to Withdraw Balance:
        3. press 3 to Check Balance:
        4. press 4 to Exit:
        3
Total Balance:  0


        1. press 1 to Deposit Balance:
        2. press 2 to Withdraw Balance:
        3. press 3 to Check Balance:
        4. press 4 to Exit:
        4
Thank You For Visiting Us

In [74]:
# Fraction Formatng.

class Demo:
    
    def __init__(self, nom, denom):
        self.nom = nom
        self.denom = denom
    
    def __str__(self):
        return "{}/{}".format(self.nom, self.denom)
    
    def __truediv__(self,other):
        nominator = self.nom * other.nom
        denominator = self.denom * other.denom
        return "{}/{}".format(nominator, denominator)
    
    def __mul__(self, other):
        nominator = self.nom * other.denom + self.denom * other.nom
        denominator = self.denom * other.denom
        return"{}/{}".format(nominator, denominator)
           
obj_1 = Demo(2,6)
obj_2 = Demo(6,1)

print(obj_1 / obj_2)
print(obj_1 * obj_2)

12/6
38/6

# Encapculation (making data private)
- we use __ before data to be private.
- nothing is completely private in python.
- we can access data using _ class name __method name.

In [39]:
class Demo:
    def __init__(self):
        self.__balance = 0     # private data.
        self.__pin = ""
        self.__manu()
    
    def __manu(self):
        user_input = int(input("""
        1. press 1 to set pin : 
        2. press 2 to change pin :
        3. press 3 to show pin : 
        4. press 4 to exit :
        """))
        if user_input == 1:
            self.set_pin()
        elif user_input == 2:
            self.change_pin()
        elif user_input == 3:
            self.show_pin()
        else:
            print("Thankyou for visiting us.")
        
    def set_pin(self):
        self.__pin = input("enter the pin: ")
        return self.__manu()
    
    def change_pin(self):
        self.__pin = input("enter new pin: ")
        return self.__manu()
        
    def show_pin(self):
        print("Your pin is: ",self.__pin)
        return self.__manu()
        
    
obj = Demo()

        1. press 1 to set pin :
        2. press 2 to change pin :
        3. press 3 to show pin :
        4. press 4 to exit :
        3
Your pin is:

        1. press 1 to set pin :
        2. press 2 to change pin :
        3. press 3 to show pin :
        4. press 4 to exit :
        4
Thankyou for visiting us.

# Pass by reference 
## (if we pass mutable datatype, into functions. It will do changes permanently)
### Mutable datatypes are:
- list
- sets
- dictonary
- class objects are also mutable.

In [49]:
# class objects are mutable.
class Demo:
    def __init__(self, name):
        self.name = name
        
def custom_1(self):
    print( self.name)
    
    self.name = "Ich bin Usman."
    print(self.name)

obj_1 = Demo("Ich bin Ahmed")
obj_2 = custom_1(obj_1)

Ich bin Ahmed
Ich bin Usman.

In [67]:
# List is mutable.

def change_list(L):
    L.append(4)
    L.append(5)
    
L = [1,2,3]
print("list : ",L)

change_list(L)
print("outside the function: ",L)   # list has been changed permanently.

list :  [1, 2, 3]
outside the function:  [1, 2, 3, 4, 5]

In [70]:
# tuple is im-mutable.
def func(tup):
    t_1 = tup + (4,5)
    print("inside the funtion: ", t_1)

t = (1,2,3)
print("tuple : ",t)
func(t)
print("outside the function : ", t)

tuple :  (1, 2, 3)
inside the funtion:  (1, 2, 3, 4, 5)
outside the function :  (1, 2, 3)

In [83]:
# we can pass class object in form of list, tuple and dict.
class Demo:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def func(self):
        print("Iam",self.name,"and my age is", self.age)

obj_1 = Demo("Ahmed",21)
# obj_1.func()
obj_2 = Demo("Usman",22)
obj_3 = Demo("Khan",23)

L = (obj_1, obj_2, obj_3)
for i in L:
    i.func()

Iam Ahmed and my age is 21
Iam Usman and my age is 22
Iam Khan and my age is 23

### 2 Types of Variables
- static or class (value is same for different class-objects) e.g: bank branch code.
- instant variable (value is different for different class-objects) e.g: serial number.

In [25]:
# adding serial no in atm.
class Atm:
    # instant variable.
    __counter = 1
    
    def __init__(self):
        
        # static variable.
        self.__pin = " "
        self.__balance = 0
        
        # accessing instant variable.(class name dot instant variable.)
        self.sno = Atm.__counter
        Atm.__counter+=1
            
    def create_pin(self):
        self.__pin = input("enter new pin: ")
        
    def show_pin(self):
        print("you pin is ", self.__pin)
        
    
    @staticmethod
    def show_sno():
        return 'serial no :',Atm.__counter
        
    @staticmethod
    def edit_sno():
        Atm.__counter = input("enter serial no: ")
        
        
        
    
obj_1 = Atm()  
obj_2 = Atm()
obj_3 = Atm()

print(obj_1.sno)
print(obj_2.sno)
print(obj_3.sno)

print(Atm.show_sno())

Atm.edit_sno()
print(Atm.show_sno())

1
2
3
('serial no :', 4)
enter serial no: 10
('serial no :', '10')

In [59]:
# aggregation

class Intro:
    def __init__(self, name , age, gender, address):
        self.name = name
        self.age = age
        self.gender = gender
        self.address = address
    
    def edit_profile(self, new_name, new_age, new_gender, new_city, new_postal_code, new_province):
        self.name = new_name
        self.age = new_age
        self.gender = new_gender
        self.address.edit_address(new_city, new_postal_code, new_province)
        
    
    
class Adress:
    def __init__(self, city, postal_code, province):
        self.city = city
        self.postal_code = postal_code
        self.province = province
        
    def edit_address(self, new_city, new_postal_code, new_province):
        self.city = new_city
        self.postal_code = new_postal_code
        self.province = new_province

obj_1 = Adress("Kohat", 26000, "KPK")
obj_2 = Intro("Ahmed", 21, "Male", obj_1)

print(obj_2.name, obj_2.address.city)

obj_2.edit_profile("usman", 22, "male", "Lahore", 1111, "punjab")
print(obj_2.name, obj_2.address.city)

Ahmed Kohat
usman Lahore

# Inheritance
- we can access class from "child to parent" but not "parent to child".

In [74]:
class Demo:
    def sign_up(self):
        print("sign up")
    def login(self):
        print("login")
        
class Instructor(Demo):
    def add_course(self):
        print("adding course.")
    def check_reviews(self):
        print("checking reviews...")
        
class Student(Demo):
    def reg_course(self):
        print("registering course...")
    def add_review(self):
        print("enter review..")
        
obj_1 = Student()
obj_1.reg_course()
obj_1.sign_up()

print("*" * 20)
obj_2 = Instructor()
obj_2.add_course()
obj_2.login()

registering course...
sign up
********************
adding course.
login

# Polymorphism
- method overriding  (creating same method in both classes)
- method overloading (creating same method, but different inputs)
- operator overloading

### Method overriding.

In [79]:
class Parent:
    def __init__(self, brand, price):
        self.brand = brand
        self.price = price
    def phone(self):
        print("buying a phone.")
        
class Child(Parent):
    def phone(self):
        print("buying a smart phone.")
        super().phone()    # super() dot parent class method. use to access method of parent class.
                            # it should be first statment, and only works inside child class.
                             # we can access parent's constructor, method but not attributes(data)
        
obj = Child("smasung", 2500)
obj.phone()

buying a smart phone.
buying a phone.

In [84]:
# (brand,price,ram,rom)

class Parent:
    def __init__(self, brand, price):
        self.brand = brand
        self.price = price
        
class Child(Parent):
    def __init__(self, brand, price, ram, rom):
        super().__init__(brand, price)
        self.ram = ram 
        self.rom = rom
        
obj = Child("samsung",3000, 8, 512)

print(obj.brand, obj.price)
print(obj.ram, obj.rom)

samsung 3000
8 512

In [3]:
class Parent:
    def __init__(self):
        self.var = 50
        
class Child(Parent):
    def __init__(self):
        super().__init__()
        self.num = 100
        
    def varnum(self):
        print(self.num)
        print(self.var)
obj = Child()
obj.varnum()

100
50

### Method overloading. (doesn't works in python)
- the same method behaves differently by changing it's inputs.

In [20]:
class Geo:
    def circle_area(l):
        return 3.14 * 3.14 * l
        
    def rec_area(l,w):
        return l * w

obj = Geo
print(obj.rec_area(2,4))
print(obj.circle_area(4))  # if we give 2 inputs, it won't work.

8
39.4384

In [43]:
# write logic for the above code.
class Geo:
    def area(self, l, w=0):
        if w == 0:
            print("are of circle: ", 3.14 * 3.14 * l)
        else:
            print("area of rectangle: ", l * w)
    
obj = Geo()
obj.area(4)
obj.area(2,4)

are of circle:  39.4384
area of rectangle:  8

### Operation overloading
- if we use "+" and it won't work properly, then it's operation overloading.
- '5' + '5' = 55.

In [44]:
"5"+"5"

'55'

In [51]:
class Fract:
    def __init__(self, nom, denom):
        self.nom = nom
        self.denom = denom
    def __str__(self):
        return "{}/{}".format(self.nom, self.denom)
    
    def __truediv__(self, other):
        nominator = self.nom *  other.nom
        denominator = self.denom * other.denom
        return "{}/{}".format(nominator,denominator)

obj_1 = Fract(2,2)
obj_2 = Fract(2,2)
print(obj_1 / obj_2)   # its also operation overloading, coz division operation is n't working properly.

print(4/4)    # this operation shows proper answer.

4/4
1.0