# 1. Basics

### user input 3 ages, find oldest one.

In [13]:
def age(a,b,c):
    if a >b>c:
        return a
    elif a<b>c:
        return b
    else:
        return c
    
a = input("enter 1st age: ")
b = input("enter 2nd age: ")
c = input("enter 3rd age: ")
age(a,b,c)

enter 1st age: 1
enter 2nd age: 4
enter 3rd age: 2

'4'

### swap the numbers, without using third variable.

In [14]:
a = int(input("first number: "))
b = int(input("second number: "))
print("orignal : ", a,b)

b = a + b
a = b - a
b = b - a
print("swaped : ", a,b)

first number: 2
second number: 4
orignal :  2 4
swaped :  4 2

### sum of 3 digits.

In [11]:
x = int(input("enter 3 digit number: "))
third = x % 10   # it gives us last digit in reminder.
num = x // 10    # it gives us first, second digits in quotient.
second = num % 10   # it gives us second digit in reminder.
first = num // 10   # it gives us first digit in quotient.

print(first + second + third)

enter 3 digit number: 999
27

### reverse a four digit number, with separating space.

In [6]:
x = input("enter 4 digits number: ")
b = x[::-1]    # it reverse the input.
c = " ". join(b)   # it joins input with space.
print(c)

enter 4 digits number: 1234
4 3 2 1

### reverse four digit number, check it's reverse is true or not.

In [23]:
# method 1.
x = input("enter four digits number: ")
a = x[::-1]
print(a)
if x == a:
    print(True)
else:
    print(False)

enter four digits number: 1234
4321
False

In [38]:
# method 2.
x = int(input("enter a four digit number: "))

fourth = x % 10        # fourth digit.
quot_1 = x // 10    # first 3 digits.

third = quot_1 % 10    # third digit.
quot_2 = quot_1 // 10     # first 2 digits.

second = quot_2 % 10   # second digit.

first = quot_2 // 10   # first digit.

rev_formula = (fourth * 1000 + third * 100 + second * 10 + first )
print(rev_formula)

# check reverse:
if rev_formula == x:
    print(True)
else:
    print(False)

enter a four digit number: 4567
7654
False

### check given number is divisable by both 3 and 6

In [49]:
user_input = int(input("enter a number: "))

if user_input % 3 == 0 and user_input % 6 == 0:
    print("number is divisable by 3 and 6.")
else:
    print("number is not divisable by 3 and 6.")

enter a number: 12
number is divisable by 3 and 6.

### input 3 digits from user and add square of each digit.

In [58]:
x = int(input("enter three digits number : "))

r_3 = x % 10 
q_1 = x // 10
r_2 = q_1 % 10
q_2 = q_1 // 10

num = (r_3 ** 2) + (r_2 ** 2) + (q_2 ** 2)
print(num)

enter three digits number : 123
14

### input a number of 4 digit, to check number is narcissistic. 
- 153 = 1 ^ 3 + 5 ^ 3 + 3 ^ 3  = 153

In [12]:
x = input("enter the 4 digit number: ")
y = len(x)
a = int(x)

num_4 = a % 10
quot_1 = a // 10

num_3 = quot_1 % 10
quot_2 = quot_1 // 10

num_2 = quot_2 % 10
num_1 = quot_2 // 10

result = (num_1 ** y) + (num_2 ** y) + (num_3 ** y) + (num_4 ** y)
print(result)

if a == result:
    print("number is narcissistic.")
else:
    print("number is not narcissistic.")

enter the 4 digit number: 1234
354
number is not narcissistic.

# 2. input exercise.

### display "name" "is" "python" to "name ** is ** python"

In [17]:
print("name","is","python", sep = " ** ")

name ** is ** python

### convert decimal to octal.

In [34]:
x = 12
print(oct(x))
print(oct(x)[-2:])

0o14
14

### display float number, with 2 decimals.

In [40]:
x = 33.33333
print(round(x,2))

33.33

### factors of input number.

In [52]:
x = int(input("enter number: "))
for i in range (1, x+1):
    if x % i == 0:
        print(i, end = " ")

enter number: 45
1 3 5 9 15 45

### 5 input floats, stored in List

In [67]:
a = []
for i in range(5):
    x = input("enter five float inputs: ")
    a.append(x)

print(a)

enter five float inputs: 1.1
enter five float inputs: 2.2
enter five float inputs: 3.33
enter five float inputs: 4.444
enter five float inputs: 5.55555
['1.1', '2.2', '3.33', '4.444', '5.55555']

### input a string, and split each word into lines

In [80]:
x = input("enter 3 strings using space: ")
a = x.split()
for i in a:
    print(i)

enter 3 strings using space: how are you
how
are
you

### using string.format

In [88]:
a = 1000
b = 3
c = 450
print("I've {} dollars, So I can buy {} footballs for {} dollars".format(a,b,c))

I've 1000 dollars, So I can buy 3 footballs for 450 dollars

### find amount pay, when principle, rate of interest and time period is given.

In [93]:
p = int(input("enter principle amount: "))
r = int(input("enter interest rate per year: "))
t = int(input("enter time period: "))

simple_interest = p * r * t / 100
total_amount = p + simple_interest
print("Total amount pay after {} years is : ".format(t),total_amount)

enter principle amount: 67000
enter interest rate per year: 12
enter time period: 5
Total amount pay after 5 years is :  107200.0

### find volume of cylinder, and total cost to full the cylinder with milk. milk/ltr is 40.

In [116]:
r = int(input("enter the radius: "))
h = int(input("enter the height: "))

print("*" * 40)

area = 3.14 * (r**2 * h)
area_val = round(area,2)
print("volume of cylinder : ", area_val)

capacity = area_val / 1000
print("cylinder capacity in ltr : ", capacity)

price = capacity * 40
print("Total cost of milk contains in cylinder : ", price)

enter the radius: 56
enter the height: 5
****************************************
volume of cylinder :  49235.2
cylinder capacity in ltr :  49.2352
Total cost of milk contains in cylinder :  1969.408

### print(1,3,5,7,9,11,13,15,17)

In [6]:
jump = 1
for i in range (10):
    result = i + jump
    print(result , end = " ")
    jump = i

1 1 3 5 7 9 11 13 15 17

### search given number in list

In [30]:
L = [1,2,3,4,6,7,9,00]
n = int(input("enter number: "))

for i in L:
    if i == n:
        print("number found.")
        break
else:
    print("number not found.")

enter number: 5
number not found.

### to check number is palindrome or not. like we can write it in reverse order. e.g: 545.

In [37]:
# 545
x = input("enter number : ")
if x[::-1] == x:
    print("number is palindrome.")
else:
    print("number is not palindrome.")

enter number : 110011
number is palindrome.

### separate even, odd number from 2 lists.

In [2]:
L1 = [1,2,3,4,5]
L2 = [6,7,8,9,0]
L_even = []
L_odd = []
for i in L1:
    if i % 2 == 0:
        L_even.append(i)
        
    else:
        L_odd.append(i)

for i in L2:
    if i % 2 == 0:
        L_even.append(i)
        
    else:
        L_odd.append(i)
        
print("even list: ",L_even)
print("odd list: ",L_odd)

even list:  [2, 4, 6, 8, 0]
odd list:  [1, 3, 5, 7, 9]

### print this

In [21]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j , end = "  ")
    print(" ")

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

### print armstrong number form range(100, 1000)

In [35]:
arm_str = []
for i in range (100,1000):
    a = i % 10
    quot = i // 10
    b = quot % 10
    c = quot // 10
    
    if (a**3) + (b**3) + (c**3) == i:
        arm_str.append(i)
    
print(arm_str)

[153, 370, 371, 407]

### population = 10,000 , intrest = 10% , population after every 10 years: ?

In [57]:
x = 10000
for i in range(1,10):
    x = x - 0.1 * x
    print(round(x), end = " ")

9000 8100 7290 6561 5905 5314 4783 4305 3874

### unique combination of 2 digits (1-4).

In [1]:
# 4 digits, means 16 possiabilities.
for i in range(1,5):
    for j in range(1,5):
        if i!=j:
            print(i,j)

1 2
1 3
1 4
2 1
2 3
2 4
3 1
3 2
3 4
4 1
4 2
4 3

### given number is prime or not.

In [49]:
x = int(input("enter the number: "))
    
if x == 2 or x == 3 :
    print("prime number.")

elif x % 2 == 0 or x % 3 == 0 or x == 1:
    print("not a prime number.")
    
else:
    print("prime number.")

enter the number: 97
prime number.

### find HCF of 2 input numbers:

In [87]:
x = int(input("enter first number: "))
y = int(input("enter second number: "))

x_1 = []
y_1 = []

for i in range(1,x+1):
    if x % i == 0:
        x_1.append(i)
print("x = ",x_1)

for i in range(1, y+1):
    if y%i == 0:
        y_1.append(i)
print("y = ",y_1)

common_list = []

for i in x_1:
    if i in y_1:
        common_list.append(i)
print("common = ",common_list)

print("hcf is :", max(common_list))

enter first number: 16
enter second number: 72
x =  [1, 2, 4, 8, 16]
y =  [1, 2, 3, 4, 6, 8, 9, 12, 18, 24, 36, 72]
common =  [1, 2, 4, 8]
hcf is : 8

### find profit or loss, taking two input of cost price and selling price.

In [97]:
x = int(input("enter cost price: "))
y = int(input("enter selling price: "))

if x > y:
    price = y - x
    print("loss : ", price)
else:
    price = y - x
    print("profit : ",price)

enter cost price: 0
enter selling price: 0
profit :  0

### in-hand salary after deduction.
- 10%, 5%, 3% = 18%. constant
- 5-10: 10%, 11-20: 20%, 21->: 30%

In [119]:
z = int(input("enter your salary: "))
y = z * 0.18
x = z - y
print("salary after deduction of HRA(10%) / DA(5%) / PF(3%): ", round(x))

if x >=5000 and x<= 10000:
    tax = x * 0.10
    salary = x - tax
    
    print("total tax on salary: ", round(tax))
    print("salary after 10% tax: ", round(salary))
    
elif x>=11000 and x<=20000:
    tax = x * 0.20
    salary = x - tax
    print("total tax on salary: ", tax)
    print("salary after 20% tax: ", salary)
    
elif x>= 21000:
    tax = x * 0.30
    salary = x - tax
    print("total tax on salary: ", tax)
    print("salary after 30% tax: ", salary)

else:
    salary = x
    print("total salary: ", x)

enter your salary: 60000
salary after deduction of HRA(10%) / DA(5%) / PF(3%):  49200
total tax on salary:  14760.0
salary after 30% tax:  34440.0

In [139]:
# 10 . output = 5 5
x = int(input("enter the number: "))
y = 0
for i in range(1, x+1):
    y = y+i
print(y)

enter the number: 10
55

### multiply 2 number without using operator.

In [142]:
x = int(input("enter first number: "))
y = int(input("enter second number: "))
result = 0
for i in range(y):
    result = result + x
print(result)

enter first number: 5
enter second number: 9
45

### Factorial

In [11]:
# 4,3,2,1 = 24
x = int(input("enter number: "))
fact = 1

for i in range(1,x+1):
    fact = fact * i
print(fact)

enter number: 4
24

### print the pattern

In [35]:
for i in range(1,6):
    for j in range(i):
        print(i, end = " " ) 
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### print(1-10) using while loop.

In [41]:
n = 1
while n <= 10:
    print(n, end=" ")
    n+=1

1 2 3 4 5 6 7 8 9 10

In [45]:
while i < 10:
    for i in range (1,11):
        print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

### count total number of digits, using while loop.

In [70]:
x = input("enter number: ")
y = list(x)
counter = 0
# print("len of y: ",len(y))

while counter < len(y):
    for i in y:
#         print("i: ",i )
#         print("y: ", y)
        counter += 1
#         print("counter: ", counter)
print(counter)

enter number: 65663
5

### display sum and average of all numbers.

In [16]:
x = int(input("enter number: "))
count = 0
sum = 0
avg = 0

while x!=0:
    sum = sum+x
    count += 1
    avg = sum / count
    x = int(input("enter number: "))
else:
    print("Thank You.")

    
print("sum is: ",sum)
print("avg is: ",round(avg))

enter number: 4
enter number: 3
enter number: 2
enter number: 0
Thank You.
sum is:  9
avg is:  3

In [23]:
x = int(input("enter a number: "))
sum = 0
avg = 0
count = 0

while True:
    if x!=0:
        sum = sum+x
        count += 1
        avg = sum/count
        x = int(input("enter another number: "))
    else:
        print("Thank You.")
        break
print("sum is : ", sum)
print("average is : ", round(avg))

enter a number: 3
enter another number: 2
enter another number: 1
enter another number: 0
Thank You.
sum is :  6
average is :  2

### print first 25 odd numbers.

In [31]:
L_1 = []
i = 1
count = 0

while True:
    if i % 2 !=0:
        L_1.append(i)
        count += 1
    if count == 25:
        break
    i+=1
print(L_1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [48]:
x = int(input("enter rows: "))
for i in range(x+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print(" ")

enter rows: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [67]:
for i in range(1,6):
    for j in range (1,i+1):
        print(j, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
num = 1
for i in range (6):
    for j in range (i):
        print(num, end = " ")
        num += 1
    print(" ")

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [18]:
x = int(input("number of rows : "))
num = 1
for i in range(x+1):
    for j in range(i):
        print(num, end = " ")
        num += 1
    print(" ")

number of rows : 5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [25]:
x = int(input("number of rows: "))

for i in range(x+1):
    for j in range(1,i+1):
        print(j, end= " ")    
    print(" ")

number of rows: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### table.

In [32]:
x = int(input("enter number: "))
for i in range(1,11):    
    print(x*i, end = " ")

enter number: 4
4 8 12 16 20 24 28 32 36 40

In [37]:
L = [150,40,93,475,65,510]
for i in L:
    if i > 500:
        break
    if i > 150:
        continue
    if i%5 == 0:
        print(i)

150
40
65

In [67]:
for i in range(5,0, -1):
    for j in range (i,0,-1):
        print(j,end = " ")
    print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [60]:
for i in range(1, 6):
    for j in range(1,i+1):
        print(j, end = " ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
L = [1,2,3,4,5]
for i in L[::-1]:
    print(i, end = " ")

5 4 3 2 1

In [14]:
for i in range(-10,0):
    print(i, end = " ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [16]:
for i in range(0,6):
    if i<5:    
        print(i)
    else:
        print("done")

0
1
2
3
4
done

In [28]:
def func(n):
    if n<=1:
        return False
    else:
        L1 = []
        for i in range(1, n+1):
            if n%i == 0:
                L1.append(i)
        if len(L1) <= 2:
            return True
        else:
            return False

x1 = int(input("first number: "))
x2 = int(input("second number: "))
for i in range(x1, x2+1):
    if func(i) == True:
        print(i, end = " ")

first number: 25
second number: 50
29 31 37 41 43 47

In [36]:
n = int(input("enter number: "))
num1 = 0
num2 = 1
for i in range(n):
    num3 = num1 + num2
    num1 = num2
    num2 = num3
    print( num3, end = " ")

enter number: 9
1 2 3 5 8 13 21 34 55

In [64]:
x = int(input("enter number: "))
fact = 1
for i in range(1, x+1):
    fact = fact * i
print(fact)

enter number: 5
120

In [61]:
x = int(input ("enter number: "))
a = 1
for i in range (1, x+1):
    a = a*i
    print(a)

enter number: 3
1
2
6

In [82]:
x = 76542
a = str(x)
b = a[::-1]
c = int(b)
print(c)
type(c)

24567

int

In [100]:
x = 654312
a = str(x)
b = list(a[::-1])
c = int("".join(b))
print(c)
print(type(c))

213456
<class 'int'>

In [108]:
L = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
L[1::2]

[20, 40, 60, 80, 100]

In [111]:
for i in range(1,7):
    x = pow(i,3)
    print("current number is {}, and its cube is {}". format(i,x))

current number is 1, and its cube is 1
current number is 2, and its cube is 8
current number is 3, and its cube is 27
current number is 4, and its cube is 64
current number is 5, and its cube is 125
current number is 6, and its cube is 216

In [122]:
x = 2
c = 0
for i in range(1, 6):
    a = str(x)
    a = a*i
    b = int("".join(a))
    c = c+b
    
print(c)

24690

In [132]:
for i in range(5,0,-1):
    for j in range(i):
        print("*", end = " ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [154]:
n=5
for i in range(0,n):

    for j in range(0,n-i):
        print(end=" ")
    
    for k in range(0,i+1):
        print("*",end=" ")

    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [198]:
x = 5
for i in range(0,x):
    for j in range(0,x-i):
        print("", end = " ")
    for k in range(0,i+1):
        print("*", end= " ")
    print(" ")

     *
    * *
   * * *
  * * * *
 * * * * *

In [232]:
x = 5
for i in range(0,x):
#     print("i:",i)
    for j in range(0,x-i):
#         print("j:",j)
        print("",end = " ")
    for k in range(0,i+1):
#         print("k:",k)
        print("*", end = " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [223]:
for i in range(0,5):
#     print(i)
    for j in range(0,i+1):
        print("*", end = " ")
    print("")
    
for i in range(5,0,-1):
#     print(i)
    for j in range(0,i-1):
        print("*", end = " ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [255]:
for i in range(0,5):
    for j in range(0,5-i):
        print("",end=" ")
    for k in range(0,i+1):
        print("*", end = " ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [11]:
a = 1
for i in range(1,6):
    for  j in range(1,6-i):
        print("", end=" ")
    for k in range(i):
        print(a, end=" ")
    print()

    1
   1 1
  1 1 1
 1 1 1 1
1 1 1 1 1

In [15]:
n = int(input("enter the number: "))
list1 = []
for i in range(0,n):
    temp=[]
    for j in range(0,i+1):
        if j == 0 or j == i:
            temp.append(1)
        else:
            temp.append(list1[i-1][j]+list1[i-1][j-1])
    list1.append(temp)
print(list1)

for i in range(n):
    for j in range(0,n-i-1):
        print(" ",end="")
    for j in range(0,i+1):
        print(list1[i][j],end=" ")
    print()

enter the number: 5
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

# String Exercise

### count radha in string.

In [2]:
sentence = "radha is most beutiful,radha is queen of vraj"
print(sentence.count("radha"))

2

### display characters that are present at an even index number

In [4]:
x = input()
print(x[::2])

pakistan
pksa

### remove characters from string.

In [15]:
# pynative. native
def remove(text, number):
    txt_len = len(text)
    txt_list = list(text)
    
    for i in txt_list:
        if number > txt_len:
            return "error!"
        else:
            result = txt_list[number:]
        result = "".join(result)
        return result
    
print(remove("pynative",2))

native

In [39]:
# milind. remove i. mlnd
x = input("enter string: ")
y = input("enter char to be removed: ")

x = x.replace(y,"")
print(x)

enter string: milind
enter char to be removed: i
mlnd

### extract first, last , mid character from string.

In [58]:
name = "James"

a = name[0]
c = name[-1]

txt_len = len(name)
mid = txt_len // 2
b = name[mid]

print(a,b,c)

"".join([a,b,c])

J m s

'Jms'

### extract son from jasonay string

In [62]:
name = "jasonay"
txt_len = len(name)
if txt_len % 2 == 0:
    print("not possiable.")
else:
    mid = txt_len // 2
    b = name[mid]
    a = name[mid - 1]
    c = name[mid + 1]

print(a,b,c)

''.join([a,b,c])

s o n

'son'

### count given character.

In [66]:
# milind mali
a = "milind mali"
b = input("enter char to be counted: ")
count = 0
for i in a:
    if i == b:
        count += 1
print(count, " times.")

enter char to be counted: i
3  times.

### find index of given char

In [79]:
# milid mali . d=4
x = "milid mali"
ip = input("enter char to find it's index: ")
for i in x:
    if i == ip:
        print(x.index(ip))

enter char to find it's index: d
4

### remove char from string

In [93]:
x = input("enter string: ")
y = input("enter char to be removed: ")
z = x.replace(y,"")
print(z)

enter string: paksitan
enter char to be removed: a
pksitn

In [5]:
# AuKellylt
s1 = "Ault"
s2 = "Kelly"

len_s1 = len(s1)
mid = len_s1 // 2
a = s1[:mid]
b = s2
c = s1[mid:]

print(a+b+c)

"".join([a,b,c])

AuKellylt

'AuKellylt'

In [17]:
# america, japan o/p: ajrpan
a = "america"
b = "japan"

a1 = a[0]
a3 = a[-1]
a_mid = len(a) // 2
a2 = a[a_mid]

b1 = b[0]
b3 = b[-1]
b_mid = len(b) // 2
b2 = b[b_mid]

print(a1+b1+a2+b2+a3+b3)

"".join([a1,b1,a2,b2,a3,b3])

ajrpan

'ajrpan'

In [26]:
a = "PyNaTivE"
x = list(a)
low = list(a.lower())
up = list(a.upper())
empty = []
for i in x:
    if i in up:
        empty.append(i)
for i in x:
    if i in low:
        empty.append(i)
        
result = "".join(empty)
print(result)

PNTEyaiv

In [1]:
x = "P@#yn26at^&i5ve"
x_list = list(x)
alphabets = 0
digit = 0
character = 0
for i in x_list:
    if i.isalpha() == True:
        alphabets += 1
    elif i.isdigit() == True:
        digit += 1
    else:
        character += 1
print("alphatets : ", alphabets)
print("digit : ", digit)
print("character : ", character)

alphatets :  8
digit :  3
character :  4

In [4]:
a = "ABC"
b = "xyz"

a_1 = a[0]
a_3 = a[-1]
a_mid = len(a) // 2
a_2 = a[a_mid]

b_1 = b[0]
b_3 = b[-1]
b_mid = len(b) // 2
b_2 = b[b_mid]

print(a_1 + b_3 + a_2 + b_2 + a_3 + b_1)

AzByCx

In [5]:
a = "Yn"
b = "PYnative"
counter = 0

for i in a:
    if i in b:
        counter +=1

if counter == len(a):
    print("a and b are balance.")
else:
    print("im_balance.")

a and b are balance.

In [14]:
s = "Welcome to Usa, usa awesome isn't it."
s2 = s.upper()
print(s2)
print(s2.count("USA"))

WELCOME TO USA, USA AWESOME ISN'T IT.
2

In [25]:
a = input("enter the title: ")
a1 = a.split()
# print(a1)
for i in a1:
    x = i.capitalize()
    print(x, end = " ")

enter the title: this is paksitan
This Is Paksitan

In [34]:
x = "PYnative29@#8496"
result = 0
counter = 0
for i in x:
    if i.isdigit() == True:
        result = result + int(i)
        counter +=1
print("sum is : ", result)
print("avg is : ", round(result/counter,2))

sum is :  38
avg is :  6.33

In [52]:
str1 = "Milinda is a data scientist, Who know python. Milinda works at google."
str1.rfind("Milinda")

46

In [55]:
str1 = "Emma-is-a-data-scientist"
str2 = str1.split("-")
for i in str2:
    print(i)

Emma
is
a
data
scientist

In [65]:
str_1 = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
print(str_1)
for i in str_1:
#     print(i)
    if i == "" or i == None:
        str_1.remove(i)
print(str_1)

['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']
['Emma', 'Jon', 'Kelly', 'Eric']

In [8]:
sentence = "*/ John is @developer & musician"
import re
clean_sentence = re.sub("[^A-Za-z0-9\s]+", "", sentence)
print(clean_sentence)

 John is developer  musician

In [23]:
str1 = "Iam 25 years and 11 months"
L = []
for i in str1:
    if  i.isdigit() == True:
        L.append(i)

# print(str1.split())
print("".join(L))

2511

In [35]:
str1 = "emma500 is a datascientist5000 and AI engineer"
str2 = str1.split()
L = []
for i in str2:
    for j in i:
        if j.isdigit() == True:
            if i not in L:
                L.append(i)
print(L)

['emma500', 'datascientist5000']

In [41]:
str1 = "/* John is @developer & musician >/"
import string
for i in string.punctuation:
    if i in str1:
        str1 = str1.replace(i,"#")
print(str1)

## John is #developer # musician ##

In [11]:
email_list = ["ahmed@datavision.com","usman@gmail.com","khan@google.com","python@microsoft.com"]
for i in email_list:
    i = i.replace("@",".").split(".")
    print(i[1])

datavision
gmail
google
microsoft

### extract all email id's from given string.

In [28]:
string = "hi, my name is ahmed and my mail id is ahmadusman050@gmail.com and my uni mail id is 21kzele0222@uet.com"
new = list(string.split())
for i in new:
    if ".com" in i:
        print(i)

ahmadusman050@gmail.com
21kzele0222@uet.com

### count number of vowels in string.

In [37]:
string = "apple with ball and banana"
vowel = "AEIOUaeiou"
count = 0
for i in string:
    if i in vowel:
        count += 1
print("no of vowels: ",count)

no of vowels:  8

# Data structure exercise.

### remove iteam from index 4, add it in index 2. and in last.

In [42]:
list1 = [34, 54, 67, 89, 11, 43, 94]
list1.pop(4)
list1.insert(2,11)
list1.append(11)
print(list1)

[34, 54, 11, 67, 89, 43, 94, 11]

In [18]:
list1 = [34, 54, 67, 89, 11, 43, 94, 32, 44]
n = 3
new_list = [list1[i: i+n][::-1] for i in range(0,len(list1),3)]
print(new_list)

[[67, 54, 34], [43, 11, 89], [44, 32, 94]]

In [31]:
list1 = [11,22,37,55,55,11,55]
count = dict()

for i in list1:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1
print(count)

{11: 2, 22: 1, 37: 1, 55: 3}

In [38]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

result = zip(first_list, second_list)
result_set = set(result)
print(result_set)

{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

# List

### find max iteam from list, without using max function.

In [52]:
L1 = [2,9,3,8,6]
L1.sort()
L1[-1]

9

### reverse the input number

In [61]:
n = input("enter number: ")

digit_list = list(n[::-1])
num = "".join(digit_list)
print(num)

enter number: 98765
56789

In [11]:
x = int(input("enter number: "))
y = list(map(int,str(x)))
print(len(y))
# print(len(x))
print(y)

enter number: 123
3
[1, 2, 3]

In [21]:
x = [1,2,3,3,3,4,4,5,6,5]
y = []
for i in x:
    if i not in y:
        y.append(i)
print(y)

[1, 2, 3, 4, 5, 6]

In [32]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i,j in zip(list1, list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [33]:
num = [2,4,6,7]
L = []
for i in num:
    z = pow(i,2)
    L.append(z)
print(L)

[4, 16, 36, 49]

In [39]:
# using list comprehension.
num = [2,4,6,7]
result = [pow(i,2) for i in num]
print(result)

[4, 16, 36, 49]

In [34]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
for i in list1:
    for j in list2:
        print(i+j)

Hello Dear
Hello Sir
take Dear
take Sir

In [35]:
# using list comprehension.

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
result = [i+j for i in list1 for j in list2]
print(result)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [16]:
list1 = [1,2,3,4]
list2 = [100,200,300,400]
for x,y in zip(list1, list2[::-1]):
    print(x,y)

1 400
2 300
3 200
4 100

In [24]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
result = list(filter(lambda x: x!="",list1))
print(result)

['Mike', 'Emma', 'Kelly', 'Brad']

In [54]:
list1 = [10, 20, [300, 400, [5000,6000], 500], 30, 40]
print(list1)
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [55]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [60]:
list1 = [5, 10, 15, 20, 25, 50, 20]
x = list1.index(20)
print(x)

list1[x] = 200
print(list1)

3
[5, 10, 15, 200, 25, 50, 20]

In [61]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

In [70]:
l1=[1,2,3,4,5]
l2=[3,4,5,6,7,8]

uni = []
inter = []

for i in l1:
    if i in l2:
        inter.append(i)
print("intersection : ",inter)

for i in l1:
    uni.append(i)

for i in l2:
    if i not in uni:
        uni.append(i)
print("union",uni)

intersection :  [3, 4, 5]
union [1, 2, 3, 4, 5, 6, 7, 8]

In [72]:
l1=[1,2,3,4,5,6,7,8,9,10,11,12]

chunk=3
output=[l1[i:i+chunk] for i in range(0,len(l1),chunk)]
print(output)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [74]:
l1=[1,2,3,4,5]
temp = l1[-1]

l1[-1] = l1[0]
print(l1)

l1[0] = temp
print(l1)

[1, 2, 3, 4, 1]
[5, 2, 3, 4, 1]

In [75]:
from random import shuffle

list1=["Milind","Kanchan","Rohit","Shashi"]
shuffle(list1)
list1

['Rohit', 'Milind', 'Kanchan', 'Shashi']

In [76]:
l1=[5,8,10,20,50,100]

from functools import reduce
result = reduce(lambda x,y: x+y , l1)
result

193

# Dictionary

### Get the only keys of dictionary

In [80]:
dicti = {"name":"ahmed","age":21, "gender": "male"}
dicti.keys()

dict_keys(['name', 'age', 'gender'])

### Convert two lists into a dictionary

In [123]:
keys = ["ten", "twenty", "thirty"]
values = [10, 20 , 30]
my_dct = zip(keys,values)

print(my_dct)
result = dict(my_dct)
result

<zip object at 0x00000244E706BD08>

{'ten': 10, 'twenty': 20, 'thirty': 30}

###  Merge two Python dictionaries into one

In [89]:
dct1 = {"one":1, "two":2 , "three":3}
dct2 = {"three":3, "four":4, "five":5}
dct3 = {**dct1, **dct2}
print(dct3)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [90]:
# another way to achieve same result

dct1 = {"one":1, "two":2 , "three":3}
dct2 = {"three":3, "four":4, "five":5}

dct3 = dct1.copy()
dct3.update(dct2)
dct3

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

###  Print the value of key ‘history’ from the below dict

In [94]:
sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70,"history": 80}}}}
sampleDict["class"]["student"]["marks"]["history"]

80

### Initialize dictionary with default values

In [101]:
employees = ["ahmed","usman","khan"]
defaults = {"designation": "developer", "salary": 5000}
result = dict.fromkeys(employees, defaults)
print(result)
print("*" * 50)
print("details of usman: ", result["usman"])

{'ahmed': {'designation': 'developer', 'salary': 5000}, 'usman': {'designation': 'developer', 'salary': 5000}, 'khan': {'designation': 'developer', 'salary': 5000}}
**************************************************
details of usman:  {'designation': 'developer', 'salary': 5000}

###  Create a dictionary by extracting the keys from a given dictionary

In [128]:
sample = {
    "name":"ahmed",
    "age" : 22,
    "salary": 500,
    "city": "kohat",
}
keys = ["name", "salary"]
result = dict()

for k in keys:
    print(k)
    result.update({k:sample[k]})
print(result)

name
salary
{'name': 'ahmed', 'salary': 500}

In [106]:
# dictionary comprehension
sample = {
    "name":"ahmed",
    "age" : 22,
    "salary": 500,
    "city": "kohat",
}
keys = ["name", "salary"]

new_dict = {k : sample[k] for k in keys}
print(new_dict)

{'name': 'ahmed', 'salary': 500}

###  Check if a value exists in a dictionary

In [107]:
sample = {"a":10, "b":20, "c":30, "d":40}
if 40 in sample.values():
    print("40 is present.")

40 is present.

###  Rename key of a dictionary

In [108]:
sample = {
    'name':'ahmed',
    'age' : 22,
    'city' : 'kohat'
}
sample["location"] = sample.pop("city")
print(sample)

{'name': 'ahmed', 'age': 22, 'location': 'kohat'}

###  Get the key of a minimum value from the following dictionary

In [115]:
sample = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
min(sample, key= sample.get)

'Math'

###  Change value of a key in a nested dictionary

In [120]:
sample = {
    "slot1": {"name":"ahmed", "salary":500},
    "slot2": {"name": "usman", "salary":600},
    "slot3": {"name":"khan", "salaty":700}
}
sample ["slot3"]["salary"] = 10000
print(sample)

{'slot1': {'name': 'ahmed', 'salary': 500}, 'slot2': {'name': 'usman', 'salary': 600}, 'slot3': {'name': 'khan', 'salaty': 700, 'salary': 10000}}

# sets

### Exercise 1: Add a list of elements to a set

In [131]:
set1 = {"blue","green","yellow"}
set2 = {"orange", "pink", "purple"}
result = set1.update(set2)
print(result)
print(set1)

None
{'yellow', 'purple', 'green', 'blue', 'orange', 'pink'}

### Exercise 2: Return a new set of identical items from two sets

In [158]:
set1 = {10,30,50,60}
set2 = {30,50,60,80,90}
result = set1.intersection(set2)
print(result)
# print(set1)

{50, 60, 30}

### Exercise 3: Get Only unique items from two sets

In [159]:
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
result = set1.union(set2)
print(result)
# print(set1)

{70, 40, 10, 50, 20, 60, 30}

### Exercise 4: Update the first set with items that don’t exist in the second set

In [160]:
set1 = {10,30,50,60}
set2 = {30,50,70,80}
result = set1.difference_update(set2)
# print(result)
print(set1)

{10, 60}

### Exercise 5: Remove items from the set at once

In [143]:
set1 = {10,30,50,70}
set2 = {20,30,40,50}
set2.difference_update(set1)
print(set2)

{20, 40}

### Exercise 6: Return a set of elements present in Set A or B, but not both

In [161]:
set1 = {10,30,40,50}
set2 = {10,20,30,50}
result = set1.symmetric_difference(set2)
print(result)
# print(set1)

{40, 20}

### Exercise 6: Check if two sets have any elements in common. If yes, display the common elements

In [151]:
set1 = {10,20,30,40,50}
set2 = {20,30,40,50,60}

# set1 = {10,20,30}
# set2 = {40,50,60}

if set1.isdisjoint(set2):
    print("don't 've any common element. ")
else:
    print(set1.intersection(set2))

{40, 50, 20, 30}

### Exercise 7: Update set1 by adding items from set2, except common items

In [154]:
set1 = {10,30,50,60}
set2 = {30,40,50,60}
result = set1.symmetric_difference_update(set2)
print(set1)

{40, 10}

### Exercise 8: Remove items from set1 that are common to both set1 and set2

In [162]:
set1 = {10,20,30}
set2 = {20,30,40}
result = set1.intersection_update(set2)
print(set1)
# print(result)

{20, 30}

# Tuple

### Exercise 1: Reverse the tuple

In [167]:
T = (1,2,3,4,5)
print(T[::-1])

(5, 4, 3, 2, 1)

### Exercise 2: Access value 20 from the tuple

In [170]:
T = ("orange", [10,20,30],(5,15,3))
T[1][1]

20

### Exercise 3: Create a tuple with single item 50

In [172]:
T = (50,)
type(T)

tuple

### Exercise 4: Unpack the tuple into 4 variables

In [176]:
T = (10,20,30,40)
a,b,c,d = T
print(a)
print(b)
print(c)
print(d)

10
20
30
40

### Exercise 5: Swap two tuples in Python
tuple1 = (11, 22)
tuple2 = (99, 88)

In [178]:
tuple1 = (11,22)
tuple2 = (99,88)

tuple1,tuple2 = tuple2, tuple1

print("tuple 1:",tuple1)
print("tuple 2:",tuple2)

tuple 1: (99, 88)
tuple 2: (11, 22)

### Exercise 6: Copy specific elements from one tuple to a new tuple

In [180]:
tuple1 = (11,22,33,44,55,66)
tuple1[3:5]

(44, 55)

### Exercise 7: Modify the tuple
tuple1 = (11, [22, 33], 44, 55)
tuple1: (11, [222, 33], 44, 55)

In [186]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

### Exercise 8: Sort a tuple of tuples by 2nd item

In [187]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

tuple1 = sorted(list(tuple1), key = lambda x:x[1])

tuple(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

### Exercise 9: Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)

In [188]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

### Exercise 10: Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)

In [192]:
tuple1 = (45, 45, 45, 45)
for i in tuple1:
    if i == tuple1[0]:
        print("all same.")
    else:
        print("all not same.")

all same.
all same.
all same.
all same.

In [195]:
t = (45, 45, 45, 45)

all_same = all(i==t[0] for i in t)

if all_same:
    print("all same.")
else:
    print("all not same.")

all same.